<%= form_for doctor do |f| %>
  <div class="form-group">
  <%= f.label :name, 'Full Name' %>
  <%= f.text_field :name, required: true, class: 'form-control' %>
  </div>
  <div class="form-group">
  <%= f.label :specialty, 'Specialty' %>
  <%= f.select :specialty, ['Internal Medicine', 'Cardiology', 'Oncology'],{}, {class: 'form-control'} %>
  </div>
  <div class="form-group">
  <%= f.label :insurance %>
  <div class="radio">
  <%= f.select :insurance, [['Yes', true], ['No', false]],{}, {class: 'form-control'}  %>
  </div>
  </div>
  <div class="form-group">
  <%= f.submit 'Add Doctor', class: 'btn btn-warning' %>
  </div>
<% end %>

